*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    text-align: center;
    padding:50px;
}

.box{
    position: relative;
    border: 2px solid grey;
    background-color: khaki;
    width: 32%;
    margin-left: 1%;
    float: left;
    margin-bottom: 5px;
}

.content{
    position: relative;
    padding: 16px;
    font-size: 16px;
}

.ribbon{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid grey;
    border-bottom: 1px solid grey;
    text-align: right;
    background-color: lightsalmon;
    padding: 5px 20px;
    font-size: 20px;
    
}

/* browser */
@media (min-width:992px)
{
    #box1,#box2,#box3
    {
        width: 32%;
    }
}

/* tablet */
@media (min-width:768px) and (max-width:991px)
{
    #box1,#box2
    {
        width: 48%;
    }
    #box3{
        width:97%;
    }
}

/* mobile */
@media (max-width:767px)
{
    #box1,#box2,#box3
    {
        width: 96%;
    }
}